<div id="<%= dom_id club %>">
  <p>
    <strong>Club name:</strong>
    <%= club.club_name %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= club.territory %>
  </p>

  <p>
    <strong>Representative:</strong>
    <%= club.representative %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= club.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= club.phone %>
  </p>

  <p>
    <strong>Alternative club name:</strong>
    <%= club.alternative_club_name %>
  </p>

  <p>
    <strong>Formatted name:</strong>
    <%= club.formatted_name %>
  </p>

</div>
