<div id="<%= dom_id competition %>">
  <p>
    <strong>Competition name:</strong>
    <%= competition.competition_name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= competition.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= competition.location %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= competition.country %>
  </p>

  <p>
    <strong>Distance type:</strong>
    <%= competition.distance_type %>
  </p>

  <p>
    <strong>Wre:</strong>
    <%= competition.wre_id %>
  </p>

  <p>
    <strong>Checksum:</strong>
    <%= competition.checksum %>
  </p>

  <p>
    <strong>Ecn:</strong>
    <%= competition.ecn %>
  </p>

</div>
