<div id="<%= dom_id runner %>">
  <p>
    <strong>Runner name:</strong>
    <%= runner.runner_name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= runner.surname %>
  </p>

  <p>
    <strong>Yob:</strong>
    <%= runner.yob %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= runner.gender %>
  </p>

  <p>
    <strong>Wre:</strong>
    <%= runner.wre_id %>
  </p>

  <p>
    <strong>Category valid:</strong>
    <%= runner.category_valid %>
  </p>

  <p>
    <strong>Sprint wre rang:</strong>
    <%= runner.sprint_wre_rang %>
  </p>

  <p>
    <strong>Forest wre rang:</strong>
    <%= runner.forest_wre_rang %>
  </p>

  <p>
    <strong>Sprint wre place:</strong>
    <%= runner.sprint_wre_place %>
  </p>

  <p>
    <strong>Forest wre place:</strong>
    <%= runner.forest_wre_place %>
  </p>

  <p>
    <strong>Checksum:</strong>
    <%= runner.checksum %>
  </p>

  <p>
    <strong>License:</strong>
    <%= runner.license %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= runner.club_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= runner.category_id %>
  </p>

  <p>
    <strong>Best category:</strong>
    <%= runner.best_category_id %>
  </p>

</div>
