<div id="<%= dom_id group %>">
  <div>
    <strong>Group name:</strong>
    <%= group.group_name %>
  </div>

  <div>
    <strong>Rang:</strong>
    <%= group.rang %>
  </div>

  <div>
    <strong>Clasa:</strong>
    <%= group.clasa %>
  </div>

  <div>
    <strong>Ecn coeficient:</strong>
    <%= group.ecn_coeficient %>
  </div>

  <div>
    <strong>Competition:</strong>
    <%= group.competition_id %>
  </div>

</div>
