<div id="<%= dom_id result %>">
  <div>
    <strong>Place:</strong>
    <%= result.place %>
  </div>

  <div>
    <strong>Time:</strong>
    <%= result.time %>
  </div>

  <div>
    <strong>Wre points:</strong>
    <%= result.wre_points %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= result.date %>
  </div>

  <div>
    <strong>Ecn points:</strong>
    <%= result.ecn_points %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= result.status %>
  </div>

  <div>
    <strong>Runner:</strong>
    <%= result.runner_id %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= result.category_id %>
  </div>

  <div>
    <strong>Group:</strong>
    <%= result.group_id %>
  </div>

</div>
